Repository SituDevelopment/.github, pull requests merged in 2024-02, with the labels that each got.

#61 Add `chore` configuration to `labeller.yaml`
  .github/labeller.yaml
Labels: chore

#63 feature/check poetry dependencies
  .github/workflows/check-code-style.yaml
  .github/workflows/check-dependencies.yaml
  .github/workflows/fetch-properties.yaml
Labels: enhancement

#65 Check for Python dependency files in job bodies
  .github/workflows/check-dependencies.yaml
Labels: bug

#66 Yuck solution
  .github/workflows/check-dependencies.yaml
Labels: bug

#67 Extract getting dependency files to separate job
  .github/workflows/check-dependencies.yaml
  package-lock.json
Labels: bug

#68 Correct outputs key
  .github/workflows/check-dependencies.yaml
Labels: bug

#69 Debug Python dependency files
  .github/workflows/check-dependencies.yaml
Labels: bug, enhancement

#70 Output dependency files in object
  .github/workflows/check-dependencies.yaml
Labels: bug

#71 Correct output
  .github/workflows/check-dependencies.yaml
Labels: bug

#74 Separate definition and output of `files` object
  .github/workflows/check-dependencies.yaml
Labels: bug

#75 bug/correct output
  .github/workflows/check-dependencies.yaml
Labels: bug

#76 Enable shell completion
  .github/workflows/check-dependencies.yaml
Labels: bug

#77 Quote output
  .github/workflows/check-dependencies.yaml
Labels: bug

#78 bug/correct output
  .github/workflows/check-dependencies.yaml
Labels: bug

#79 bug fixes
  .github/workflows/check-dependencies.yaml
Labels: bug

#80 Debug JSON value
  .github/workflows/check-dependencies.yaml
Labels: bug

#81 bug fixes
  .github/workflows/check-dependencies.yaml
Labels: bug

#82 remove debug output
  .github/workflows/check-dependencies.yaml
Labels: bug

#85 fix: Use pip instead of pipx.
  .github/workflows/check-dependencies.yaml
Labels: bug

#87 experiment: Remove poetry cache.
  .github/workflows/check-dependencies.yaml
Labels: bug

#88 Install Poetry before Python setup
  .github/workflows/check-dependencies.yaml
Labels: enhancement

#90 Correct `isort` status check config
  .github/workflows/check-code-style.yaml
Labels: bug

#91 Group Dependabot updates
  .github/dependabot.yaml
  package-lock.json
Labels: chore

#93 Migrate Python status checks to require Poetry configuration
  .github/workflows/check-code-style.yaml
  .github/workflows/check-dependencies.yaml
Labels: enhancement

#94 Ensure Poetry is installed
  .github/workflows/check-dependencies.yaml
Labels: enhancement

#95 Ensure Poetry is installed for all required jobs
  .github/workflows/check-code-style.yaml
  .github/workflows/check-dependencies.yaml
Labels: enhancement

#96 Ensure Poetry doesn't use a virtual environment
  .github/workflows/check-code-style.yaml
  .github/workflows/check-dependencies.yaml
Labels: bug
