Repository SituDevelopment/.github, pull requests merged in 2024-06, with the labels that each got.

#120 Allow Python Projects to Define Their Own Test Command
  .github/workflows/python.yaml
Labels: feature

#121 Provide Deployment Environment to All Python Status Checks
  .github/workflows/python.yaml
Labels: feature

#122 Provide Fury Token to Python Workflows
  .github/workflows/python.yaml
Labels: feature

#124 Feature: Added fury token env var to workflows.
  .github/workflows/all.yaml
  .github/workflows/typescript.yaml
Labels: feature

#126 Chore: Bump action version.
  .github/workflows/typescript.yaml
Labels: chore

#127 Bug: Change usage of env var.
  .github/workflows/typescript.yaml
Labels: bug

#128 experiment: With different node setup settings.
  .github/workflows/typescript.yaml
Labels: bug

#129 fix: Changed npm proxy.
  .github/workflows/typescript.yaml
Labels: chore

#135 Use Built-in Node Auth
  .github/workflows/all.yaml
  .github/workflows/typescript.yaml
Labels: chore

#136 Add Python version input
  .github/workflows/python.yaml
Labels: feature

#137 Python Subpackage Checks
  .github/workflows/python.yaml
Labels: feature

#138 Run manual commands from `pyproject-toml-directory`
  .github/workflows/python.yaml
Labels: bug

#140 Enable TypeScript status checks on packages outside the top level
  .github/workflows/typescript.yaml
Labels: feature
